@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:700&display=swap');
@import "/variables.scss";

body {
  font-family: $Primary_fontFamily;
  background: rgb(134, 185, 224);
}
h1 {
    margin: 0;
}

// Wrappers
.wrapper {
    background: #86B9E0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainWrapper {
    height: 90vh;
    background: transparent;
    width: 80%;
    margin: 0 auto;
    @media (max-width:767px){
        height: 50vh;
    }
}
.innerWrapper {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

// Input
input[type="text"] {
    height: 50px;
    border: 2px solid $White_color;
    border-radius: 8px;
    width: 60%;
    max-width: 100%;
    font-size: 16px;
    @media (max-width:767px){
        width: 100%;
        margin-bottom: 20px;
    }
}

//Button
button {
    height: 50px;
    margin: 0 30px;
    background: $Primary_color!important;
    color: $White_color;
    border: 2px solid $White_color;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    @media (min-width:768px){
        float: right;
    }
    
    &:hover {
        background: $White_color!important;
        color: rgb(134, 185, 224)!important;
    }
}

// Header file Sytle
.titleHeader {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.subTitle {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

// CitySearch Style
.citySearch {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 0 14%;
    @media (max-width:767px){
        padding: 0!important;
    }
}

.WeatherDesc {
    font-family: "Alegreya Sans", sans-serif;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}